body {
   background: linear-gradient(to right, #182848, #4b6cb7);
   min-height: 100vh;
}

.container-main {
   min-height   : 450px;
   width        : calc(100vw - (2 * #{$margin-section}) );
   //
   overflow-y   : auto;
   margin       : 1rem !important;
   padding      : 2rem;
   border-radius: 15px;
   background   : linear-gradient(to right, #232526, #414345);


}
