// COLORS
:root {
   --color-primary  : #4051c1;
   --color-secondary: #0776bf;
   --color-terciary : #9d79fe;
   --color-subtitle: grey;
   //
   --font-md: .9rem;
   --font-sm: .8rem;
   //
   --margin-gap: 10px;
   //
   --width-avatar: 45px;
   //
   --card-radius: 6px;
}

$color-primary  : #4051c1;
$color-secondary: #0776bf;
$color-terciary : #9d79fe;

// MARGIN
$margin-section: 1rem;

// DIMENSIONS
