.container-dashboard {
   height               : 100%;
   display              : grid;
   grid-template-rows   : 5rem auto;
   grid-template-columns: 20% 40% 40%;
   grid-template-areas  :
      'menu header header'
      'menu chats messages';

   .menu {
      grid-area: menu;
   }

   .header {
      grid-area : header;
      background: linear-gradient(45deg, black, transparent);
   }

   .chats {
      grid-area : chats;
      background: linear-gradient(45deg, #0f28cd, transparent);
   }

   .messages {
      grid-area: messages;
   }
}
