<section class="container-messages">
   <div class="title-messages">
      <label class="title-main">Dialogo con Scarlet Johansson</label>
      <button type="button" uk-close></button>
   </div>

   <ul uk-tab>
      <li><a href="#">+ Compañero</a></li>
      <li><a href="#">Archivos...</a></li>
   </ul>
   <!-- <ul class="uk-switcher uk-margin">
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
         magna aliqua.</li>
      <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </li>
   </ul> -->

   <div class="div-messages">

      <label class="date">06 Junio</label>
      <div class="div-msg">
         <app-avatar class="avatar" [showBorder]="false"></app-avatar>
         <div class="uk-card uk-card-body uk-card-secondary">
            <p class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
      </div>
   </div>

</section>
